html {
	background-color: background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(left, #7abcff 0%, #60abf8 44%, #0277ed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #7abcff 0%,#60abf8 44%,#0277ed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #7abcff 0%,#60abf8 44%,#0277ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#0277ed',GradientType=0 ); /* IE6-9 */
}

body {
	background-color: white;
	background-color: rgba(255, 255, 255, .8);
	width: 80%;
	box-shadow: 5px 10px navy;
	padding: 1em;
	margin: 2em auto;
	border: 1px solid navy;
	border-radius: 1em;
	font-family: ariel, helvetica, sans-serif;
	
}